body {
  background-image: linear-gradient(to left, #3E6AFE, #4DD4E2);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.25em;
  margin-top:0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}

h4 {
  text-align: center;
  font-size: 20px;
  margin: 0px;
}

h6 {
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
}

p {
  margin-top:0px;
  margin-bottom: 0px;
}

/* -------------- class --------------*/

.header {
  height: 59px;
  width: 1010px;
  margin:0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
  padding-top: 21px;
  margin-left: 20px;
}

.hamburger-menu {
  float: right;
  width: 18px;
  height: 12px;
  padding-right: 20px;
}

.footer {
  height: 59px;
  width: 1010px;
  margin:0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.features {
  color: #ffffff;
  padding: 0px;
}

.hero {
  height: 480px;
  width: 1010px;
  margin:0 auto;
  padding: 0px;
  background: url("./img/hero-bg.png");
  background-image: linear-gradient(to right, #3E6AFE, #4DD4E2);
}

.hero-leftside {
  height: 480px;
  width: 600px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.textboxh1 {
  padding-top: 0px;
}

.story-box {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
  height: 300px;
  width: 500px;
  background: #ffffff;

}

.lead-center {
  padding-top: 0px;
  width: 540px;
  margin:0 auto;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #777777;
}

.text-black {
  color: #222222;
}

.text-uppercase {
  text-transform: uppercase;
}

.textalign-left {
  text-align: left;
}

.process {
  padding-top: 100px;
  height: 480px;
}

.button-ghost {
  line-height: 40px;
  width: 150px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.common-input {
  order: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 48px;
  width: 100%;
  display: block;
  background: transparent;
  padding: 0 25px;
  color: #fff;
}

.mb-10 {
  margin-bottom: 10px;

}

.mb-30 {
  margin-bottom: 30px;

}


/* -------------- id --------------*/

#logo-footer {
  float: left;
  margin-top: 21px;
  margin-left: 20px;
  margin-right: 147px;
}

#footer-center {
  float: left;
  margin-top: 20px;
  text-align: left;

}

#bg-gradient {
  background-image: linear-gradient(to right, #3E6AFE, #4DD4E2);
  }

#bg-white {
  background-color: #ffffff;
  }
