body {
    background-color: #c4c4c4;
    margin:0 auto;
    padding: 0px;
    border: 0px;
    width: 1010px;
}

h1 {
  font-size: 30px;
  font-family: "Poppins";
  color: #ffffff;
}

h2 {
  text-align: center;
  }

h3 {
  text-align: center;
  font-size: 13px;
  font-family: "Poppins";
  color: ##777777;
}

h4 {
  text-align: center;
  margin: 0px;
}

p {
  font-family: "Poppins";
  color: #ffffff;
}

#fullsite {
  background-color: #487AF3;
}

.header {
  background-color: #000000;
  height: 60px;
}

.progress {
  background-color: #ffffff;
}
