body {
    background-color: #487AF3;
}

h1 {
  font-size: 30px;
  font-family: "Nunito";
  color: #ffffff;
}

h3 {
  font-size: 14px;
  font-family: "Nunito";
  color: #ffffff;
}

p {
  
  font-family: "Nunito";
  color: #ffffff;

}
